body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#login-form{
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
}

#login-form input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

#login-form button{
    background-color: rgb(7, 7, 193);
    width: 65%;
    display: block;
    margin: 10px auto;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

#login-form button:hover {
    background: #263184;
}

